<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input Binding</title>
</head>
<body>

  <div id="app">
      <form>
          <input type="text" name="name" v-bind:value="name" /> {{name}}
      </form>
      <br>
      <form>
          <input type="text" name="name" v-bind:value="name" v-on:input="name = $event.target.value" /> v-on
          <br><br>
          <input type="text" name="name" v-bind:value="name" v-model:value="name" /> v-model
      </form>
      <p>======================================================================</p>
      <form>
        <input v-model="message1" placeholder="Edit Me">
        <p>Message Value : {{message1}}</p>
      </form>

      <p>======================================================================</p>
      <span>Multiline message is:</span>
      <p style="white-space: pre-line;">{{ message }}</p>
      <br>
      <textarea v-model="message" placeholder="add multiple lines"></textarea>

      <p>======================================================================</p>
      <input type="checkbox" id="checkbox" v-model="checked">
      <label for="checkbox">{{ checked }}</label>
      <br><br>

      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
      <label for="mike">Mike</label>
      <br>
      <span>Checked names: {{ checkedNames }}</span>

      <p>======================================================================</p>
      <input type="radio" id="one" value="One" v-model="picked">
      <label for="one">One</label>
      <br>
      <input type="radio" id="two" value="Two" v-model="picked">
      <label for="two">Two</label>
      <br>
      <span>Picked: {{ picked }}</span>

      <p>======================================================================</p>
      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option value="Asep">A</option>
        <option>Banten</option>
        <option value="3">C</option>
      </select>
      <span>Selected: {{ selected }}</span>

      <p>======================================================================</p>
      <select v-model="selected2" multiple>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <br>
      <span>Selected: {{ selected2 }}</span>

        <br><br>
        <select v-model="selected3">
        <option disabled value="">Please select one</option>
        <option v-for="item in options" v-bind:value="item.value">
          {{ item.text }}
        </option>
      </select>
      <span>Selected: {{ selected3 }}</span>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        name : "Asep Oemar Alfaruqi",
        message1 : "",
        message : "",
        checked : false,
        checkedNames: [],
        picked : "",
        selected : "",
        selected2 : "A",
        selected3 : "",
        options: [
          { text: 'One', value: 'A' },
          { text: 'Two', value: 'B' },
          { text: 'Three', value: 'C' }
        ]
      }
  })
  </script>

</body>
</html>