<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifiers</title>
</head>
<body>
    <div id="app">
        <form>
            <!-- synced after "change" instead of "input" -->
            <!-- perubahan terjadi setelah event -->
            <input v-model.lazy="msg">
        </form>
        {{msg}}
        <br>
        <form>
            <input v-model.number="age" type="number">
            <!-- jika tidak memakai .number, valuenya akan string -->
        </form>
        {{age}}
        <br>
        <form>
            <input v-model.trim="msg2">
            <!-- .trim akan menghapus spasi di awal dan akhir dari value -->
        </form>
        {{msg2}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          msg : "",
          msg2 : "",
          age : null,
      }
  })
  </script>

</body>
</html>