<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            border : 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label {
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
        ul, li {
            background-color: red;
        }
    </style>

</head>
<body>
    <div id="app">
        
        <!-- @submit sama saja dengan v-on:submit -->
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please coreect the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Title : </label>
            <input type="text" name="title" ref="title" v-model="title">
            <label>Description : </label>
            <textarea name="description" ref="description" v-model="description"></textarea>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
      el: '#app',
      data: {
          title: "",
          description: "",
          errors: [],
      },
      methods: {
          submitForm : function() {
            this.errors = []
            if (this.title.length < 5) {
                this.errors.push('Title minimal 5 karakter')
                this.$refs.title.focus()
            }
            
            if (this.description.length === 0) {
                this.errors.push('Description tidak boleh kosong')
                this.$refs.description.focus()
            }else if (this.description.length > 200) {
                this.errors.push('Description maksimal 200 karakter')
                this.$refs.description.focus()
            }

            if (this.errors.length === 0) {
                alert('Terima Kasih, anda telah mengisi data dengan benar')
            }
          }
      }
  })
  </script>

</body>
</html>