<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Vue Directive</title>
</head>
<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <h2 v-html="teks"></h2>
        
        <!-- v-once: nilai variablenya tidak bisa diubah-ubah dalam inspect/consol -->
        <p v-once>{{teks2}}</p>

        <!-- v-text: sama seperti penggunaan kurung kurawal -->
        <p v-text="message2"></p>

        <!-- v-show: teks akan tampil ketika bernilai true dan ter-hide jika false-->
        <!-- walaupun bernilai false, v-show akan tetap ada elemennya di inspect -->
        <p v-show="tampilPesan">{{message3 + ' ~ v-show'}}</p>

        <!-- v-if: hampir sama dengan v-show
        jika false, elemen tidak ada di inspect  -->
        <p v-if="tampilPesan">{{message3 +' ~ v-if'}}</p>

        <div v-if="nilai === 'A' ">
            Nilai Sempurna
        </div>
        <div v-else-if="nilai === 'B' ">
            Nilai Bagus
        </div>
        <div v-else-if="nilai === 'C' ">
            Nilai Cukup
        </div>
        <div v-else>
            Nilai Kurang
        </div>
        <br>

        <!-- v-on : berperan sebagai sebuah event listener -->
        <button v-on:click="jumlah ++"> <!-- v-on:click=" jumlah += 1 " -->
            Klik +
        </button>
        <button v-on:click="jumlah -= 2">
            Klik -
        </button>
        <p>Tombol diatas telah di Klik sebanyak {{jumlah}} kali.</p>

        <!-- v-bind : untuk mem-binding, agar terupdate secara reaktif sesuai dgn data -->
        <p>
            <img v-bind:src="imageSrc">
        </p>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        //nama variable bisa disesuaikan
        var ajx = new Vue({
            el: '#app',
            data: {
                message : 'Vue Directive',
                teks : "<span style='color:red'>Belajar Vue, Menyenangkan</span>",
                teks2: "vue directive once",
                message2 : "Hello World!",
                message3 : "PKSDIGI oke banget",
                tampilPesan: true,
                nilai : "A",
                ok : true,
                jumlah: 0,
                imageSrc: 'testImg1.png'
            }
        })

        setTimeout(() => {
            ajx.imageSrc = 'testImg2.jpg'
        }, 3000);


    </script>
</body>
</html>