<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Vue</title>
</head>
<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <p>{{teks}}</p>
        <h2>{{teks2}}</h2>
        <h2 v-html="teks2"></h2>
        <p>{{ 'Pesan : ' + message2 }}</p>
        <p>{{ `Total : ${total * 11}` }}</p>
        <p>{{ ok ? 'YES' : 'NO'}}</p>
        <p>{{ message2.split('').reverse().join('') }}</p>
        <!-- <p></p> -->
        <button onclick="ajx.penambahan()">
            Klik
        </button>
        <p>Tombol diatas telah di Klik sebanyak {{jumlah}} kali.</p>
        <p>{{ fullName }}</p>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        //nama variable bisa disesuaikan
        var ajx = new Vue({
            el: '#app',
            data: {
                message : 'Hello Vue!',
                teks : 'saya sedang belajar Vue',
                teks2 : "<span style='color:red'>Belajar Vue, Menyenangkan</span>",
                message2 : "Hello World!",
                total : 1000,
                ok : true,
                jumlah: 0,
                firstName: "Joko",
                lastName: "Widodo"
            },
            methods: {
                penambahan() {
                    this.jumlah++
                }
            },
            computed: {
                fullName: function(){
                    return this.firstName + ' ' + this.lastName
                }
            }
        })
    </script>
</body>
</html>